
.端berschrift{
color: white;
font-family: calibri;
position: absolute;
margin-top: -100px;
margin-left: 600px;
font-size: 70px;
}

.box_oben {                /* f端r 端berschrift lebenslauf -->  <!-- # bei id="name" */
position: relative;
font-size: 16px;
margin-top: -10px;
margin-left: -10px;
}
  .img1{
  width: 110%;
  height: 140px;       /* z-index: ist normal auf 0 , bestimmte die sichtbarkeitsebene*/
  }
.box_unten {              /* f端r den seitenabschluss*/
  position: relative;
  padding: 10px;
  margin-top: 750px;
  margin-left: -20px;
  }
  .img2{
    width: 110%;
    height: 50px;
  }
.box_grenze1 {
  position: absolute;
  background-color: darkgray;
  margin-top: -10px;
  margin-left: -10px;
  width: 110%;
  height: 10px;
}

.box_grenze2 {
  position: absolute;
  background-color: darkgray;
  width: 110%;
  height: 10px;
  margin-bottom: -400px;
  margin-left: -10px;
}

/* !!!!!!!!!!!!!!!   neuer Part!!!!!!!!*/

.zeugnis{
  position: absolute;
  width: 450px;
  height: 600px;
  margin-top: 50px;
  margin-left: 730px;
}
