section{
margin-top: 0px;
margin-right: 410px;
margin-bottom: 10px;
margin-left: 35%;
font-family: calibri;
}
.überschrift{
color: white;
font-family: calibri;
position: absolute;
margin-top: -100px;
margin-left: 600px;
font-size: 70px;
z-index: 1;
}
.gliederung{
color: blue;
}
.untergliedert{              /* unterschriften bei Kenntnisse & Fähigkeiten */
style="text-align: right;"
color: blue;
}
.hervorgehoben{             /* im lebenslauf hervorgehobene wörter, gerade gelöst mit </b>*/
color: blue;
}
div.text_links{
position: relative;
width: 200px;             /* border 3px solid #73AD21; zum anzeigen der Position, kann dann weg,   border-style: none; */
}
  .feld_links0{
    height: 150px;
  }
  .feld_links1{
      height: 330px;
  }
  .feld_links2{
      height: 100px;
  }
  .feld_links3{
      height: 60px;
  }

div.text_rechts{       /* text_rechts hängt rechts von der position an text_links<!-- text_rechts ist stamm und felder kinder */
float: left;
margin: 4px;
position: absolute;
top: 0px;
left: 215px;
}
  .feld0{
  width: 200px;
  height: 150px;
  }
  .feld1{
  width: 450px;
  height: 330px;
  }
  .feld2{
  width: 350px;
  height: 100px;
  }
  .feld3{
  width: 500px;
  height: 60px;
  }


.box_oben {                /* für überschrift lebenslauf -->  <!-- # bei id="name" */
position: relative;
font-size: 16px;
margin-top: -10px;
margin-left: -10px;
}
  .img1{
  width: 110%;
  height: 140px;
  z-index: -1;           /* z-index: ist normal auf 0 , bestimmte die sichtbarkeitsebene*/
  }
.box_unten {              /* für den seitenabschluss*/
  position: relative;
  padding: 10px;
  margin-bottom: -30px;
  margin-left: -20px;
  }
  .img2{
    width: 110%;
    height: 50px;
  }
.box_grenze1 {
  position: absolute;
  background-color: darkgray;
  margin-top: -10px;
  margin-left: -10px;
  width: 110%;
  height: 10px;
}
.box_hälfte {
  position: absolute;
  background-color: lightgray;
  width: 524px;
  height: 1000px;
  top: 140px;
  left: 880px;
  z-index: -1;
}
.box_grenze2 {
  position: absolute;
  background-color: darkgray;
  width: 110%;
  height: 10px;
  margin-bottom: -228px;
  margin-left: -10px;
}
